/* css main */

* {
    padding:0;
    margin:0;
}

html {
    font:14px normal Arial, sans-serif;
    color:#626771;
    background-color: #cbdde8;
}

.header {
    left: 0;
    top: 0;
    height: 120px;
    width: 100%;
}

.head {
  display: block;
}

.inp {
    height: 20px;
    display: inline-block;
    margin-left: 5px;
}

img {
    height: 50px;
    width: 50px;
    padding: 10px;
}

#confirm {
    height: 24px;
    background-color: #a3c9d1;
    color: #000000;
}

.btns {
    display: inline-block;
    margin: 5px;
    width: 100%;
    height: 30px;

}

.btn {
    letter-spacing: 1px;
    float: left;
    height: 100%;
    width: 120px;
    background-color: #707070;
}

.content {
  height: 100%;
}

table {
    border-collapse: collapse;
    text-align: center;
    height: 100%;
    width: 100%;
}

th, td:first-child {
    padding: 10px 20px;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    background: #D8E6F3;
}


tbody tr:hover {
    color: #fff;
}
